.ramana1{
    display: flex;
    justify-content: center;
    margin: 200px;
}
.card{
    width: 250px;
    height: 130px;
    background-color:whitesmoke;
    margin:7px;
    border-radius: 5px;
    padding: 10px;
}
.card1{
    width: 220px;
    height: 18px;
    background-color: white;
    margin-top: 20px;
}
.card2{
    width: 100px;
    height: 25px;
    background-color: blue;
    margin-top: 20px;
    position: absolute;
    top: 280px;
    left: 370px;
}
.fa-circle-plus
{
    position:absolute;
    left:653px;
    top:305px; 
}
.fa-xmark {
    position:absolute;
    left:740px;
    top:220px;  
}
.test1{
    position:absolute;
    left:650px;
    top:280px;  
}
html{
    background-image: url(./blurimage1.png);
    background-attachment: fixed;
}